<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="https://tutorials.massstreetuniversity.com/python/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/python/advanced/24-requesting-files-with-http-ftp.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/python/advanced/26-saving-objects-with-pickle.html">Next</a>

<h1>Lesson 25. Interacting With Databases</h1>

Our focus is analytics not application development. As such, the discussion that you would expect from other generic tutorials is totally not going to happen right now.

Instead, we’re going to keep our eyes on the prize and focus on those task common to business analytics. 

A large difference between app dev and analytics is the volume of data that you work with. Applications are frequently making changes to the database one record at a time. In analytics, you are frequently dealing with large fractions of the total organizations data assets. It requires a different mindset.

Below is a standard scenario that you most likely will be dealing with on a daily basis. You need to do an analysis so you use JupyterLab to connect into the database and get what you need.

<h1>Examples</h1>

<strong>Example #1: Git It Yo Self Service</strong>

If you know SQL, you do not have to wait for someone to get you your data. You can just grab it yourself from the database.

The process you see below is fairly common across all programming languages.

<ol>
<li>Set up your query.</li>
<li>Set up your connection.</li>
<li>Execute your query.</li>
<li>Go to town.</li>
</ol>

In [10]:
import os
import pyodbc as db
import time
import pandas as pd

#Prep query
sql = 'SELECT BusinessEntityID, AnnualSales, AnnualRevenue, SquareFeet, NumberEmployees' 
sql = sql + ' ' + 'FROM Sales.vStoreWithDemographics'

#Set up the connection.
connection_string = 'DSN=AdventureWorks;'
conn = db.connect(connection_string)

#Execute the query.
result_set = pd.read_sql(sql, conn, index_col = 'BusinessEntityID')

#Review the data.
#Set option used here to make describe output easier to read.
pd.set_option('display.float_format', lambda x: '%.2f' % x)
result_set.describe()

       AnnualSales  AnnualRevenue  SquareFeet  NumberEmployees
count       701.00         701.00      701.00           701.00
mean    1584736.09      158473.61    40014.27            40.51
std      980951.93       98095.19    24445.62            29.47
min      300000.00       30000.00     6000.00             2.00
25%      800000.00       80000.00    20000.00            16.00
50%     1500000.00      150000.00    37000.00            35.00
75%     3000000.00      300000.00    72000.00            64.00
max     3000000.00      300000.00    80000.00           100.00

Copyright © 2020, Mass Street Analytics, LLC. All Rights Reserved.