<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/solutions/list-all-tables.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/solutions/pull-random-records.html">Next</a>

<h1>Lesson 46. Listing All Columns In A SQL Server Database</h1>

The primary use of this script is to help in the creation of a data dictionary. It can be used to find a specific column by utilizing the where clause.

<h1>Examples</h1>

<strong>List All Columns</strong>

In [ ]:
USE [AdventureWorks2016]
GO

SELECT 
SCHEMA_NAME(t.schema_id) AS [Schema],
t.name AS [Table Name],
c.name AS [Column Name],
CASE
WHEN ty.name = 'char' OR ty.name = 'nvarchar' THEN CONCAT(ty.name,'(',ty.max_length,')')
WHEN ty.name = 'numeric' THEN CONCAT(ty.name,'(',ty.precision,',',ty.scale,')')
ELSE ty.name
END AS [Data Type]
FROM sys.tables AS t
JOIN sys.columns c 
ON t.OBJECT_ID = c.OBJECT_ID
JOIN sys.types ty 
ON c.user_type_id = ty.user_type_id
LEFT OUTER JOIN sys.index_columns ic 
ON ic.object_id = c.object_id 
AND ic.column_id = c.column_id
LEFT OUTER JOIN sys.indexes i 
ON ic.object_id = i.object_id 
AND ic.index_id = i.index_id
WHERE 1 = 1
--AND c.name LIKE '%YourColumnName%'
ORDER BY [Table Name], [Column Name]

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.