<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a>

<h1>Aggregate Functions</h1>

While the basic arithmetic operators like + and – are technically built in functions, SQL Server has math functions for more complex operations. The functions usually operate on the entire column of data, and we will be using them when we talk about grouping and summarizing data.

Below is an opinionated list of commonly used aggregate functions.

<table width="100%" border="1" align="center">
  <tbody>
      <th scope="col">Function</th>
      <th scope="col">Explantion</th>
    <tr>
      <td valign="top">MAX</td>
      <td valign="top">Lets you find the maximum value in a column.</td>
    </tr>
    <tr>
      <td valign="top">MIN</td>
      <td valign="top">Lets you find the minimum value in a column.</td>
    </tr>
    <tr>
      <td valign="top">AVG</td>
      <td valign="top">Lets you find the avearge value of the column.</td>
    </tr>
    <tr>
      <td valign="top">COUNT*</td>
      <td valign="top"> Lets you count the number of records in the result set.</td>
    </tr>
    <tr>
      <td valign="top">SUM</td>
      <td valign="top">Lets you find the total of the values in the column.</td>
    </tr>
  </tbody>
</table>

*Normally these functions are used on a single column. COUNT is the exception to that rule. Technically, you can use the wildcard operator for the function’s parameter and I frequently do, however, from a performance perspective, you should use one column. Any column will do but it is good habit to use the table’s primary key.

<h1>Examples</h1>

<strong>Aggregate Function Usage</strong>

In [ ]:
USE AdventureWorks2016

SELECT MAX(LineTotal) AS BiggestLineTotal
FROM Sales.SalesOrderDetail
 
SELECT MIN(LineTotal) AS SmallestLineTotal
FROM Sales.SalesOrderDetail

SELECT AVG(LineTotal) AS AverageLineTotal
FROM Sales.SalesOrderDetail

SELECT COUNT(SalesOrderDetailID) AS TotalRecordsInTable
FROM Sales.SalesOrderDetail

SELECT SUM(LineTotal) AS TotalOfTheOrdersInTheTable
FROM Sales.SalesOrderDetail

Copyright © 2020, Mass Street Analytics, LLC. All Rights Reserved.