<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/complex-data-filtering.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/string-functions.html">Next</a>

<h1>Lesson 8. Aliases</h1>

Aliases are a way of renaming things. This comes in handy in a variety of ways. There are two kinds of aliases.

<strong>Column Aliases</strong>

Column aliases let you rename a column by using the SQL keyword AS. There are a few reasons you would want to rename a column.

<ol>
<li>When you create a column based on a calculation, SQL Server does not automatically give it a name. You have to do that.</li><br>
<li>When you are creating views for users you do not want to use ugly database names. You can rename the column to something that will show up pretty in the user’s BI tool.</li><br>
<li>Sometimes you want to rename things for your own personal sanity. When you are pulling data from more than one table and those tables have the same column names, it can become confusing in a hurry.</li><br>
</ol>

In the case of scenario two, you may want to create a column name with a space in it. To do that, you have to wrap your alias in brackets.

<strong>Table Aliases</strong>

Table aliases let you rename tables. There are a lot of reasons to do this. Those reasons will become apparent when you start pulling data from more than one table. A table alias makes it easier to refer to a table and helps you keep columns straight.

To alias a table, just put what you want to call the table behind the table name in the FROM clause.

<h1>Examples</h1>

<strong>Column Alias Example</strong>

In [ ]:
USE AdventureWorks2016

SELECT
Name AS [Product Name],
ProductNumber AS [Product Number]
FROM Production.Product

<strong>Table Alias Example</strong>

In [ ]:
USE AdventureWorks2016

SELECT
p.ProductID,
p.Name,
p.ProductNumber
FROM Production.Product p

Copyright © 2020, Mass Street Analytics, LLC. All Rights Reserved.