<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/updating-data.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/cte.html">Next</a>

<h1>Lesson 19. Deleting Data</h1>

Deleting data is a dangerous operation. Like INSERT, DELETE operates on entire rows. You need to be extremely careful with its usage. It is not hard to blow away an entire table because coding got monotonous and your attention drifted. In order to prevent this catastrophe from happening, I recommend that you verify what you are deleting with a SELECT statement before you write your DELETE.

<h1>DELETE Syntax</h1>

In [ ]:
DELETE --That is it. Just delete.

FROM --The table you want to delete from.

WHERE --The thing that saves you from being fired.

<h1>Examples</h1>

<strong>Example Deletion Of One Record</strong>

In [ ]:
USE demo

DECLARE @Person AS TABLE (ID INT, FName NVARCHAR(100), LNAME NVARCHAR(100))

INSERT INTO @Person(ID, FName, LNAME)
SELECT 1,'Bob', 'Wakefield'
UNION
SELECT 2,'Vanna','White'
UNION
SELECT 3,'Pat','Sajak'


SELECT *
FROM @Person

--Begin delete process
DELETE 
FROM @Person
WHERE ID = 1

SELECT *
FROM @Person

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.