<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a>

<h1>Sorting Data</h1>

You sort data by using the ORDER BY clause. 

Data can be ordered in ascending order or descending order by using ASC or DESC respectively in your ORDER BY clause. 

You can order the data using as many columns as you like. You can even specify ascending or descending on each column.

<h1>Examples</h1>

<strong> One Column</strong>

In [ ]:
USE AdventureWorks2016

SELECT FirstName, LastName
FROM Person.Person
ORDER BY LastName

<strong> More Than One Column</strong>

In [ ]:
USE AdventureWorks2016

SELECT FirstName, LastName
FROM Person.Person
ORDER BY FirstName, LastName

<strong> One Column Descending And Ascending</strong>

In [ ]:
USE AdventureWorks2016

SELECT FirstName, LastName
FROM Person.Person
ORDER BY LastName ASC

SELECT FirstName, LastName
FROM Person.Person
ORDER BY LastName DESC

<strong> Multi-Column With Mixed Ordering</strong>

In [ ]:
USE AdventureWorks2016

SELECT FirstName, LastName
FROM Person.Person
ORDER BY FirstName ASC, LastName DESC

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.