<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/creating-data.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/deleting-data.html">Next</a>

<h1>Lesson 18. Updating Data</h1>

You update data with the SQL UPDATE statement. When you update data and you only want to update a single row, make sure you have a filter on your query of exactly what you are updating, otherwise you are going to wind up updating the entire table.

<h1>UPDATE Syntax</h1>

In [ ]:
UPDATE --the table you want to update

SET --the new value in the column you want to change

WHERE --The conditions you specify

<h1>Examples</h1>

<strong>Simple Update Example</strong>

In [ ]:
USE Demo

DECLARE @Person AS TABLE (ID INT, FName NVARCHAR(100), LNAME NVARCHAR(100))

INSERT INTO @Person(ID, FName, LNAME)
SELECT 1,'Bob', 'Wakefield'
UNION
SELECT 2,'Vanna','White'
UNION
SELECT 3,'Pat','Sajak'


SELECT *
FROM @Person
WHERE ID = 1

--Begin update process
UPDATE @Person
SET LNAME = 'Johnson'
WHERE ID = 1

SELECT *
FROM @Person
WHERE ID = 1

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.