<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/advanced/creating-tables.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/advanced/dropping-tables.html">Next</a>

<h1>Lesson 28. Altering Tables</h1>

You can use T-SQL to alter pretty much every aspect of a table.  The syntax for doing so changes depending on what aspect of the table you are trying to alter. For the purposes of this tutorial, we will just focus on altering table columns.

<h1>Examples</h1>

<strong>Add A Column</strong>

In [ ]:
USE demo

ALTER TABLE Person ADD PhoneNumber NVARCHAR(10)

<strong>Change Column Name</strong>

In [ ]:
USE demo

EXEC sp_rename 'Person.PhoneNumber', 'NumberOfChildren', 'COLUMN';

<strong>Change Column Data Type</strong>

In [ ]:
USE demo

ALTER TABLE Person ALTER COLUMN NumberOfChildren INT

<strong>Delete A Column</strong>

In [ ]:
USE demo

ALTER TABLE Person DROP COLUMN NumberOfChildren

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.