<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a>

<h1>Casting Data Types</h1>

When you are throwing around string values, SQL Server does its best to try to determine what the actual data type is. The software is really good at identifying dates, integers, and floats when they are stored as NVARCHAR. When you do basic arithmatic, you can implicity cast data types.

However, sometimes its best is not good enough and you have to step in and specify what data type a value should be or perhaps you have to change the data type of an existing data type. Sometimes, if you are REALLY lucky you will be dealing with a data type that blows up a deterministic process because it makes the process non-deterministic in which case you have to cast the data to a type that is more friendly to deterministic processes.

This is where the functions CAST and CONVERT come in handy. They both do the same thing, but I VASTLY prefer the CAST syntax. However, if you want to format data, you will have to use the CONVERT syntax.

<h1>Examples</h1>

<strong>Implicit Cast</strong>

In [ ]:
USE demo

SELECT 1/1

SELECT 1/1.0

<strong> Explicit Cast With CAST</strong>

In [ ]:
DECLARE @Value INT = 25

SELECT @Value AS IntValue

SELECT CAST(@Value AS NUMERIC(18,4)) AS DecimalValue

<strong>Formatting A Date With CONVERT</strong>

In [ ]:
USE demo

SELECT CURRENT_TIMESTAMP AS TheDate

SELECT CONVERT(NVARCHAR(30), CURRENT_TIMESTAMP, 101) AS TheDate

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.