<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/advanced/dropping-tables.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/advanced/controlling-flow.html">Next</a>

<h1>Lesson 30. Variables</h1>

We are now at the point where you understand how to pull data from tables. It is time to start learning how to actually program SQL Server so you can do things like write processes that pull, manipulate, and load data.

Variables only live as long as the script executes. When the script is done, the variable is wiped from memory.

The first step is learning how to create variables and assign them values. You create variables with DECLARE and set their value with SET. When setting your variable, string values have to be enclosed in quotes just like when you were writing WHERE clauses.

<h1>DECLARE Syntax</h1>

In [ ]:
DECLARE @[VariableName] [DataType]
DECLARE @[VariableName2] [DataType] =  [YourValue]

<h1>SET Syntax</h1>

In [ ]:
SET @[VariableName] = [YourValue]

<h1>Examples</h1>

<strong>Declaring A Variable</strong>

In [ ]:
USE AdventureWorks2016

DECLARE @FirstName NVARCHAR(20)

DECLARE @NumberOfStudents INT

DECLARE @TotalInvioceAmount MONEY

<strong>Setting A Variable Value</strong>

In [ ]:
USE AdventureWorks2016

DECLARE @FirstName NVARCHAR(20) 

SET @FirstName = 'Bob'

<strong>Declaring A Variable And Setting Its Value In One Line Of Code</strong>

In [ ]:
USE AdventureWorks2016

DECLARE @FirstName NVARCHAR(20) = 'Bob'

<strong>Viewing The Value Of A Variable</strong>

In [ ]:
USE AdventureWorks2016

DECLARE @FirstName NVARCHAR(20) = 'Bob'

PRINT @FirstName ---shows in messages

SELECT @FirstName AS VariableValue --shows in results

<strong>Set The Value Of Variables With The Output Of A SQL Statement</strong>

The key is the SQL statement has to return a single atomic value.

In [ ]:
USE AdventureWorks2016

DECLARE @FirstName NVARCHAR(20) = (SELECT FirstName FROM Person.Person WHERE BusinessEntityID = 1)

DECLARE @LastName NVARCHAR(20) 

SELECT @LastName = LastName
FROM Person.Person 
WHERE BusinessEntityID = 1

SELECT @FirstName, @LastName

<strong>Variable Usage</strong>


Variables can be used in various ways. You can use them for output in SELECT statements and in WHERE clauses to create dynamic filter criteria.

In [ ]:
USE AdventureWorks2016

DECLARE @Title NVARCHAR(5) = 'Mr.'
DECLARE @BusinessEntityID TINYINT = 1

SELECT @Title AS Title, FirstName, LastName 
FROM Person.Person 
WHERE BusinessEntityID = @BusinessEntityID

Copyright Â© 2020, Mass Street Analytics, LLC. All Rights Reserved.